.brand{
    width: 100%;
    display: flex;
    flex-direction: column;

    &__content{
        display: flex;
        height: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image{
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
}