.review{
    background: #E1D9CA;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #32322B;
    max-width: 400px;
    margin: auto;

    &__line{
        width: 100%;
        height: 0.5px;
        background: #32322b2d;
    }

    &__text{
        line-height: 200%;
        flex: 1;
    }

    &__profile-wrapper{
        flex: 1;
    }

    &__profile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        &-info{
            color: #767460;
        }
    }

    &__rating{
        font-size: 0.8rem;
        display: flex;
        gap: 0.1rem;
        color: #767460;
    }
}