@use "../../styles/variables" as *;

.info{
    background: $stone;
    color: $smoke;
    position: relative;

    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem;
        max-width: 900px;
        margin: auto;

        @media screen and (min-width:768px){
            display: flex;
            justify-content: center;
            gap: 4rem;
        }

        & > :last-child{
            grid-column: 1 / span 2;

            @media screen and (min-width:768px){
                grid-column: 3;
            }
        }
    }
}