.location{
    width: 100%;
    background: #32322B;
    color: #E1D9CA;

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 5rem 1.5rem;
        max-width: 1400px;
        margin: auto;

        @media screen and (min-width: 768px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 5rem 3rem;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &-wrapper{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        &-text{
            line-height: 200%;
        }
    }

    &__line{
        width: 100%;
        height: 0.5px;
        background: #e1d9ca60;
    }

    &__info{

        &-wrapper{
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
            border-bottom: 1px solid #e1d9ca25; 
        }


        &-text{
            font-size: 0.9rem;

            &:nth-child(1){
                color: #B8A68A;
            }
        }
    }

    &__image{
        width: 100%;
        object-fit: cover;
        height: 550px;
        padding: 1rem 0 0 0;
    }
}