.hero{
    height: 100vh;
    width: 100%;
    background: gray;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    &__background{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__content{
        position: relative;
        padding: 1.5rem 1.5rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media screen and (min-width: 768px) {
            transform: translatey(40%);
        }

        &-title{
            color: white;
            display: flex;
            flex-direction: column;
            font-size: 2.5rem;
            line-height: 100%;
            font-weight: 400;

            @media screen and (min-width: 768px) {
                font-size: 3rem;
            }

            @media screen and (min-width: 768px) {
                font-size: 3.5rem;
            }
        }

        &-link{
            padding: 1rem 2rem;
            background: #B8A68A;
            text-decoration: none;
            color: #32322B;
            width: fit-content;
        }
    }
}