.hero{
    height: 100vh;
    width: 100%;
    background: gray;
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    &__background{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__content{
        position: relative;
        padding: 1.5rem 1.5rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-title{
            color: white;
            display: flex;
            flex-direction: column;
        }

        &-link{
            padding: 1rem 2rem;
            background: #B8A68A;
            text-decoration: none;
            color: #32322B;
            width: fit-content;
        }
    }
}