.reviews{
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 1350px;
    margin: auto;

    &__content{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &-title{
            color: #32322B;
        }
    }

    &__gallery{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
        }

        @media screen and (min-width: 1000px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
        }
    }
}