@use "../../styles/variables" as *;

.cta{
    padding: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    position: relative;
    background: $white;

    &__content{
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &-title{
            font-size: 2.5rem;
            color: $smoke;
        }

        &-text{
            line-height: 200%;
        }
    }

    &__link{
        padding: 1rem 1.8rem;
        font-size: 1rem;
        background: $white;
        color: $smoke;
        border: 1px solid;
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;

        &:hover{
            background-color: $smoke;
            color: $white;
            border-color: $smoke;
            cursor: pointer;
        }

        span{
            transform: translateY(-2px);
        }
    }
}