.activity-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__title{
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (min-width:768px){
            height: auto;
        }
    }

    &__image{
        width: 100%;
        aspect-ratio: 1 / 0.7;
        object-fit: cover;
    }

    &__text{

        @media screen and (min-width:768px){
            padding-right: 1rem;
        }
    }
}