.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 1.5rem;
    z-index: 100;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

    &--scrolled{
        background: white;
        color: #32322B;
        transition: background-color 0.3s ease-in-out;
    }

    &__logo{
        font-weight: 400;

        &--open{
            color: #32322B;
        }
    }

    &__nav{
        display: none;
        gap: 1.5rem;
        align-items: center;
        font-size: 0.9rem;

        @media screen and (min-width:768px) {
            display: flex;
        }

        &-link{
            color: inherit;
            text-decoration: none;

            &--contact{
                background: #B8A68A;
                color: #32322B;
                padding: 0.6rem 1.2rem;
            }
        }
    }

    &__select{
        padding: 0.5rem;

        &-option{
            padding: 0.5rem;
        }
    }

    &__button{
        position: relative;
        background: none;
        color: inherit;
        border: none;
        font-size: 1.5rem;

        @media screen and (min-width:768px){
            display: none;
        }

        &--open{
            color: #32322B;
        }
    }
}

.mobile-menu{
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
    font-size: 1.5rem;

    &--open{
        top: 0;
    }

    &__nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        &-link{
            color: inherit;
            text-decoration: none;
        }
    }

    &__select{
        padding: 0.5rem;
        width: fit-content;
        margin: auto;

        &-option{
            padding: 0.5rem;
        }
    }
}