.features{
    padding: 3rem 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    max-width: 1400px;
    margin: auto;

    @media screen and (min-width: 768px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        padding: 3rem;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @media screen and (min-width: 768px){
            position: sticky;
            top: 6rem;
            left: 0rem;
        }

        &-title{
            color: #32322B;
        }

        &-list{
            padding: 0;
        }

        &-item{
            padding: 1rem 0;
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &__item-icon{
        font-size: 1rem;
    }

    &__gallery{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &-image{
            width: 100%;
            height: 400px;
            object-fit: cover;
            display: block;
        }
    }
}