.footer{
    background: #32322B;
    color: #E1D9CA;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (min-width: 768px){
        display: grid;
        grid-template-columns: 25% auto 25%;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-logo{
            font-weight: 400;
        }

        &-subtitle{
            color: #767460;
        }
    }
    
    &__nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (min-width: 768px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &-link{
            color: inherit;
            text-decoration: none;
            width: fit-content;
        }
    }

    &__map{
        width: 100%;
        border: none;
        height: 450px;

        @media screen and (min-width: 768px) {
            height: 100%;
        }
    }

    &__info{
        text-align: center;
        border-top: 1px solid #e1d9ca50;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: #767460;

        @media screen and (min-width: 768px){
            grid-column: 1 / span 3;
        }
    }
}