.footer{
    background: #32322B;
    color: #E1D9CA;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (min-width: 768px){
        display: grid;
        grid-template-columns: 25% auto;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-subtitle{
            color: #767460;
        }
    }
    
    &__nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (min-width: 768px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &-link{
            color: inherit;
            text-decoration: none;
        }
    }

    &__info{
        text-align: center;
        border-top: 1px solid #e1d9ca50;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: #767460;

        @media screen and (min-width: 768px){
            grid-column: 1 / span 2;
        }
    }
}