.stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;

    @media screen and (min-width:768px){
        grid-template-columns: repeat(4,1fr);
        max-width: 800px;
        margin: auto;
    }
}