*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "chau philomene one" ,sans-serif;
    color: #767460;
}

body{
    background: #FDFCFA;
}

h1, h2, h3 {
    font-family: "luckiest guy", sans-serif;
    letter-spacing: 2px;
}