@use "./styles/variables" as *;

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "manrope" ,sans-serif;
    color: $dunes;
    font-weight: 300;

    @media screen and (min-width:768px) {
        font-size: 18px;
    }
}

body{
    background: $white;
    overflow-x: hidden;
}

h2, h3 {
    font-family: "antonio", sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 100%;
}