*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "chau philomene one" ,sans-serif;
    color: #767460;

    @media screen and (min-width:768px) {
        font-size: 18px;
    }

    @media screen and (min-width:1200px) {
        font-size: 20px;
    }
}

body{
    background: #FDFCFA;
}

h1, h2, h3 {
    font-family: "sigmar one", sans-serif;
    letter-spacing: 2px;
}