@use "../../styles/variables" as *;

.item-banner{
    display: flex;
    align-items: center;
    gap: 4rem;
    color: $white;
    
    &__line{
        height: 1px;
        width: 2rem;
        background: #fdfcfa50;
    }
}