@use "../../styles/variables" as *;

.banner{
    width: 100%;
    height: 125px;
    background: $smoke;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
}